<mat-toolbar color="primary">
  <h2 class="heading">Personal Budget Application</h2>
  <span class="example-spacer"></span>
  <mat-divider [inset]="true" orientation="vertical"></mat-divider>
  <button mat-button (click)="onDash()">Dashboard</button>
  <mat-divider [inset]="true" orientation="vertical"></mat-divider>
  <button mat-button (click)="onProfile()">Profile</button>
  <mat-divider [inset]="true" orientation="vertical"></mat-divider>
  <button mat-button (click)="onHistory()">Prev History</button>
  <mat-divider [inset]="true" orientation="vertical"></mat-divider>
  <button mat-button (click)="onSignOut()">Log Out</button>
</mat-toolbar>
