.logout-popup {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    p {
      color: #777777;
      margin-bottom: 20px;
    }

    .button-row {
      display: flex;
      justify-content: center;

      button {
        margin: 0 10px;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .snackbar-success {
    background-color: #4caf50; /* Green */
    color: white;
  }

  button {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  button:hover {
    background-color: #da190b; /* Darker red on hover */
    color: white;
  }
